{% extends 'hospital/base.html' %}

{% block content %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">Hospital U.S.S.D. Doctor Appointment System</h1>
      <p class="lead my-3">The project looks into how you can use Africa’s Talking U.S.S.D. to create a Hospital Doctor’s Appointment System, this can be done when a hospital would like its patients or walk ins to book doctor appointments via U.S.S.D. there by increasing patients convenience to access to healthcare.</p>
    </div>
  </div>

    <h3 class="pb-4 mb-4 fst-italic border-bottom text-center">
        Where to Start
      </h3>

    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 1</strong>
              <h3 class="mb-1">Creating Patients</h3>
              <ul>
              <li>Click on patients menu</li>
              <li>Click on "Add" to add new patient</li>
              <li>Enter patient first name</li>
              <li>Enter patient last name</li>
                  <li>Select patient phone number starting with the country code e.g +254 and <b>NOT 254</b></li>
              <li>Enter patient email address</li>
              <li>Enter patient username</li>
            </ul>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 2</strong>
              <h3 class="mb-1">Creating Doctors</h3>
              <ul>
              <li>Click on doctors menu</li>
              <li>Click on "Add" to add new doctor</li>
              <li>Enter doctor first name</li>
              <li>Enter doctor last name</li>
              <li>Select doctor phone number</li>
              <li>Enter doctor email address</li>
              <li>Enter doctor username</li>
        </ul>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 3</strong>
              <h3 class="mb-1">Creating Services</h3>
              <ul>
              <li>Click on services menu</li>
              <li>Click on "Add" to add new service</li>
              <li>Enter service name</li>
              <li>Enter service description</li>
            </ul>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 4</strong>
          <h3 class="mb-1">Creating Doctor Services</h3>
          <ul>
          <li>Click on doctor services menu</li>
          <li>Click on "Add" to link a doctor to a service</li>
          <li>Select doctor</li>
          <li>Select service</li>
        </ul>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 5</strong>
              <h3 class="mb-1">Creating Doctor Time Slots</h3>
                <ul>
                  <li>Click on doctor time slots menu</li>
                  <li>Click on "Add" to provide appointment date for a doctor's service</li>
                  <li>Select doctor offering a particular service</li>
                  <li>Enter the start date</li>
                  <li>Enter the end date</li>
                </ul>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
      <article class="blog-post">
        <h3 class="pb-4 pt-4 mb-4 mt-4 fst-italic border-bottom border-top text-center">Making Appointments</h3>
        <p>Steps for a patient to make a doctor's appointment:</p>
        <ul>
          <li>Navigate to Africa's Talking Simulator URL: https://simulator.africastalking.com:1517/</li>
          <li>Enter the correct patient's phone number</li>
          <li>Click on "USSD"</li>
          <li>Enter the USSD code you had created e.g. *384*58965#</li>
          <li>Select a service you linked to a doctor</li>
          <li>Select the doctor offering the service, since you can multiple doctors offering the same service</li>
          <li>Select the date you want to book the appointment</li>
          <li>You will be notified of a successful appointment booking</li>
        </ul>
          <br>
        <p>Viewing appointments made:</p>
        <ul>
          <li>Click on appointments menu</li>
          <li>Click on "View" to view appointments made</li>
        </ul>
      </article><!-- /.blog-post -->

    </div>

  </div><!-- /.row -->

</main>


{% endblock content%}